@using MudBlazor

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Cash Transfer System</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.Home"/> <MudText Style="margin-left:10px">Home</MudText>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transfers">
                <MudIcon Icon="@Icons.Material.Filled.AttachMoney"/> <MudText Style="margin-left:10px">Cash Transfers</MudText>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createCtransfer">
                <MudIcon Icon="@Icons.Material.Filled.AddCircleOutline" /> <MudText Style="margin-left:10px">Create Transfer</MudText>
            </NavLink>
        </div>
    </nav>
</div>

